body {
    font-family: Arial, sans-serif;
    background-color: #37529b;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title-with-logo {
    display: flex;
    align-items: center;
  }

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #010e44;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #f0e7e7;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #e2dada;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #028133;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #036e5d;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #dfd5d5;
}

p{
    color: #fff;
}
.bnt{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    
}